body {
  background-color: snow;
}
/*
h1{
  font-size:5vw;
}
h2{
  font-size:2vw;
}
h3{
  font-size:1.5vw;
} */
#main{
  background-color: linen;
  border-radius: 5px; /* rounding edge of border */
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width:60%;
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}
#title{
  text-align: center;
  color: #331a00;
  padding: 10px;
}
#img-div{
  padding: 10px;
  background-color: snow;
}
#image{
  border-radius: 5px;
  display:block;
  margin-right: auto;
  margin-left: auto;
  max-width: 25%;
  height: auto;
}
#img-caption{
  text-align:center;
  color:#331a00;
  line-height: 1.5;
  font-style: italic;
}
#tribute-info{
  padding: 5px;
  display: block;
  max-width: 60%;
   min-width: 290px;
  margin-left: auto;
  margin-right: auto;
 color: #331a00;
  line-height: 1.5;
}
#tribute-link{
  padding: 10px;
  color:#331a00;
}
#poem{
  text-align: center;
  font-style: italic;
}